
  

<form class="user-login-form center">

  <div class="form-group">
    <label for="email-login">Email address</label>
    <input placeholder="john.smith@me.com" class="input-box form-control" type="text" id="email-login" />
  </div>
  <div class="center form-group">
    <label for="password-login">Password</label>
    <input placeholder="*******" class="input-box form-control" type="password" id="password-login" />
  </div>
  <div>
    <button class="btn" id="login-btn" >Login</button>
  </div>
  <div class="signup-sec center form-group">
      <p class="login-p">New User? Sign-Up: </p>
    <button class="btn" id="user-signup">Sign-Up</button>
  </div>
</form>





<script src="/javascript/login.js"></script>


