* {
    margin:0;
    padding: 0;
    
    }
    html,body{
        height: 100%;
    }

    body {
        display: flex;
        flex-direction: column;
    } 
    .content{
        flex: 1 0 auto;
        padding: 20px;
    }

    nav{
        padding: 1em;
        background-color: #92bde7 ;
        margin-bottom: .5em;
    }
    .navbar-brand{
        text-decoration: none;
        font-family:'Playfair';
        font-size: 30px;
        color: whitesmoke;
        font-weight: 300;
    }

    nav a span{
      color: rgb(15, 87, 160);
    }
    footer{
        background-color:rgb(15, 87, 160);
        color: whitesmoke;
        text-align: center;
        font-size: 20px;
        padding: 1.5em;
        flex-shrink: 0;
        padding: 20px;

    }
    
   .user-login-form{
       padding: 1em;
       border: 1px solid rgb(15, 87, 160);
       width: 420px;
       height: 400px;
       margin: 0 auto;
       background-color:#92bde7f1 ;
       border-radius: 5px;
       box-shadow: 2px 3px 8px;
   }
  
  .btn{
      background-color:rgb(15, 87, 160) ;
      color: white;
      width: 90%;
     margin-left: 15px;
     margin-top: 14px;
  }
  .input-box{
      width: 100%;
      font-size: 20px;
      background-color: rgba(255, 255, 255, 0.931);
  }
  .login-p{
      margin: 0 auto;
      text-align: center;
  }
.back-img{
    background-image: url('/images/doctor-prop.jpeg');
      background-size: cover;
      background-position: center center;
      top: 100px;
      height: 100vh;
      width: 100%;
      position: static;
}
.fix-me{
    padding: 40px;
    margin: 0;
}
.background{
    background-color: white;
}

.card-p{
    text-align: center;
}
.card-p h2{
    font-size: 40px;
    border-bottom: 2px solid rgb(15, 87, 160);
    margin: 27px;
    font-size: 5vw;
   
}
.card-p li{
    text-align: center;
    list-style-type: none; 
    border: 1px solid black;
    width: 100%;
    background-color:#c6daeef1  ;
    padding: 5px;
    margin: 2px;
    font-size: 27px;
    font-family:sans-serif ;
    box-shadow: 2px 3px 8px;
    border-radius: 11px;
}
.card-p li a{
    
    color: rgb(60, 64, 110);
    font-weight: bold;
}
.card-p li a:hover{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.card-p li:hover{
    box-shadow: 3px 5px 2px rgb(15, 87, 160) ;  
    background-color:rgb(15, 87, 160) ;
    
}
.list-p{
    width: 500px;
    margin: 0 auto;
}
.user-name{
    font-size: 25px;
    margin-left: 3px;
}
.btn-no-style{
    width: 90px;
    background-color:#92bde7f1;
    height: 40px;
    margin-right: 15px;
}
.card{
    padding: 5px;
    text-align: center;
    width: 600px;
    margin: 0 auto;
}
.p-info{
    font-weight: bold;
    
}

.note-comment{
    width: 300px;
}
.card .title{
    border-bottom: 2px solid rgba(15, 87, 160, 0.787);
    margin-bottom: 10px;
   
}
.nurse-app{
    text-align: left;
    display: flex;
    flex-flow: column;
    width: 80em;
    
    
}
.card-patient{
  padding: 2em;
}
.user-signup-form{
    background-color: white;
    width: 750px;
    text-align: center;
    /* margin: 0 auto; */
    padding: 3em;
}
.hide-t{
  display: none;
}
.patient-info{
 width: 780px;
}


/*   

    .wrapper{
      width:90%;
      margin: 0 auto;
    } */
    /* header {
      width: 100%;
      height: 100px;
      background: #92bde7;
      position:fixed;
    }
    
    .logo{
      width: 30%;
      float: left;
      text-align: left;
      line-height: 100px;
    }
    
    .logo a{
      text-decoration: none;
      font-size: 30px;
      font-family: 'Trirong';
      color: white;
      letter-spacing: 4px;
      font-weight: bolder;
    }
    .front{
      color: rgb(15, 87, 160);
    }
    
    .banner-area{
      background-image: url('./images/doctor-prop.jpeg');
      background-size: cover;
      background-position: center center;
      top: 100px;
      height: 100vh;
      width: 100%;
      position: fixed;
    }
    .user-login-form
    {
      display: block; 
      border-radius: 25px;
      background-color: #92bde7 ;
      opacity: 0.9;
      padding: 20px;
      width: 500px;
      height: 500px;
      color: rgb(15, 87, 160);
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: center;
      bottom: 120px;
      
    }
    .email-login,
    .password-login {
        display: block;
        border-radius: 15px;
        padding: 7px 15px;
        font-size: 16px;
        color: #024e76;
        width: 100%;
        margin-bottom: 50px;
        text-align: center;
    }
    .ques{
      padding: auto;
      
    }
    .w2,
    .w1{
      margin: 0 5px;
    }
    .button, 
    .user{
      color: white;
      background-color: #0a6da3;
      margin-bottom: 25px;
      border-radius: 5px;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
    }
    .button:hover,
    .user:hover {
      background-color:rgba(2, 19, 41, 0.116);
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
    
    .banner-area::after{
      content:'';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      background: #485e74;
      opacity: .3;
      z-index: -1;
    }
    
    .banner-area h2{
      padding-top: 8%;
      font-size: 80px;
      font-weight: bolder;
      color: white
    }
    .content-area{
      width: 100%;
      height: 800px;
      position: relative;
      background: white ;
      top: 700px;
    }
    .content-area h3 {
      font-size: 40px;
      margin: 0;
      padding-top: 30px;
      letter-spacing: 4px;
    }
    .content-area p{
      padding: 2% o;
      line-height: 30px;
      text-align: justify
    } */
    /* Bordered form */
